<header>
    <nav class="navbar">
        <div class="brand"></div>
        <div class="menu" id="menu">
            <button class="icon" >
                <span class="fa fa-bars"></span>
                <div class="badge">2</div>
            </button>
        </div>
        <div class="cart -closed">
            <div class="cart-products">

                {{#each cart}}
                <div class="product" data-id="{{id}}">
                    <figure class="image"><img src="{{images}}" alt=""></figure>
                    <button class="remove-btn"><span class="fa fa-remove"></span></button>
                    <div class="info">
                        <div class="name">{{name}}</div>
                        <div class="price">
                            <div class="block">{{price.installments}}x R$ {{price.installmentValue}}</div>
                            <div class="block">R$ {{price.value}} à vista</div>
                        </div>  
                    </div>
                </div>
                {{/each}}

                
                <div class="subtotal">
                    <div class="title">subtotal</div>
                    <div class="divider"></div>
                    <div class="price">
                        <div class="block">10x R$ {{subtotal.installmentValue}}</div>
                        <div class="block">ou R$ {{subtotal.value}} à vista</div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>

<main>
    <section class="product-list">
        {{#each list}}
        <div class="product" data-id="{{id}}">
            <div class="change-view">
                <button class="action"><img class="another-image" src="{{images}}" alt=""></button>
            </div>
            <figure class="main-view"> <img class="main-image" src="{{images}}" alt=""/></figure>
            <div class="info">
                <div class="name">{{name}}<button class="add-favorites"><span class="fa fa-heart-o"></span></button></div>
                <div class="divider"></div>
                {{#if bestPrice}} <div class="better-price-flag">MELHOR PREÇO</div>{{/if}}
                <div class="price">
                    <span class="installments">{{price.installments}}x</span><span class="currency-symbol">R$</span><span class="installment-value">{{price.installmentValue}}</span>
                    <div class="value">ou <strong>R$ {{price.value}}</strong> à vista.</div>
                </div>
                <button class="add-cart">Adicionar ao carrinho <span class="fa fa-chevron-right"></span></button>
            </div>
        </div>
        {{/each}}
    </section>
</main>